.header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  color: white;
  scrollbar-width: none;
}

.header::-webkit-scrollbar {
  display: none;
}

.headerIcons {
  display: flex;
  align-items: center;
  text-align: center;
}

.headerIcon {
  display: flex;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
}

.headerIcon > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
}

.headerIcon > p {
  display: none;
  text-transform: uppercase;
  font-size: small;
}

.headerIcon.active > p {
  display: inline;
}

.headerIcon:hover > p {
  display: inline;
}

.header > img {
  object-fit: contain;
  height: 80px;
}
