.videoCard {
  color: white;
  width: 350px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms ;
}

.videoCard:hover{
    transform: scale(1.05);
}

.videoCard > img {
  height: 300px;
  width: 350px;
  object-fit: contain;
}
